@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gamers Hub</h1>
    <p class="lead">Gamers Hub is a platform for recording purchases of various games and there buyers.</p>
    <p><a href="/Game/List" class="btn btn-primary btn-lg">Start &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Game/List">Games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Genre/List">Genres &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Buyer/List">Buyer &raquo;</a></p>
    </div>
</div>